# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# IDE files
*.vcxproj*
*.opensdf
*.sdf
*.sln
Debug/
Win32/
ronnypix.dir/
ronnypix.xcodeproj/

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
